# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Database
*.db

# Logs
logs/
*.log
*.lock

# Output
output/

# System folders
files/_albums/
files/_system/

# IDE
.vscode/
.idea/
.history/
.vscode/