# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Database
*.db

# Logs
logs/
*.log
*.lock

# Output
output/

# System folders (ignore contents but keep directory structure)
files/_albums/*
!files/_albums/.gitkeep
files/_system/temp/*
!files/_system/temp/.gitkeep
files/_system/thumbnails/*
!files/_system/thumbnails/.gitkeep

# IDE
.vscode/
.idea/
.history/
.vscode/